<h1> <%= @creature.name %></h1> <br> <br>

<p><%= @creature.description %></p>

<%= button_to "Delete", @creature, method: "delete" %>
<button><%= link_to "Edit Creature", edit_creature_path%></button>
